
@font-face {
    font-family: 'GlinaScript';
    src: url('./font/BalsamiqSans.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    height: 100dvh;
    /*background-image: url('image/background24.jpg');
    background-position: center;
    background-size: cover;*/
    /*background-size: 100%;*/
    /* Проблема выделения */
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
    user-select: none;
    /* Проблема масштабирования текста */
    -webkit-text-size-adjust: none;
    /* font */
    font-family: 'GlinaScript';
    font-weight: bold;
    color: var(--color-button);
}

* {
    -webkit-tap-highlight-color: transparent;
}
